.navigation{
    position: absolute;
    right: 50px;
}
li{
   display: inline;
   padding: 20px;
   margin-top: 0;
}
#home{
     
    height: 590px;
    background-image: url(/Images/pexels-creative-vix-9754.jpg);
    background-size: cover;
}
li > a {
    font-size: xx-large;
}
a:hover{
    color: red;
}

#home img{
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 100px;
}
.paragraph{
    position: absolute;
    right: 1000px;
    transform:translate( 600px,-500px);
    color:white;
    font-size: larger;
    margin-top: 100px;
}
h3{
    font-size: xx-large;
     font-style: italic;
}
.paragraph p {
    font-size: xx-large;
     /* font-style: italic; */
}

span{
    font-size: xx-large;
    font-style: italic;
}
 
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* overflow: hidden; */
}

h4{
    text-align: center;
    font-size: xx-large;
    color: blue;
    margin-top: 0px;
}
ol li{
    display: block;
}
.developer{
    text-align: center;
    font-size: large;
}
/* styling the about me */
#about{
    background-color: #D9DAD4;
}
#about img{
    position: absolute;
    right: 50px;
    margin-top: -80px;
    border-radius: 80%;
}
#about p {
    width: 67%;
    font-size: large;
}
