.navigation{
    position: absolute;
    right: 50px;
}
li{
   display: inline;
   padding: 20px;
   margin-top: 0;
}
.home{
     
    height: auto;
    background-image: url(/Images/pexels-creative-vix-9754.jpg);
    background-size: cover;
}
li > a {
    font-size: xx-large;
}
a:hover{
    color: red;
}

img{
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 100px;
}
.paragraph{
    position: absolute;
    right: 600px;
    transform:translate( 400px,-400px);
    color:blue;
    font-size: larger;
}
h3{
    font-size: bold;
    font-weight: 600;
}
span{
    font-size: x-large;
}
paragraph > p {
    width: 50%;
}